body {
    height: 100vh;
    background: linear-gradient(90deg, rgb(26, 166, 190), rgba(206, 33, 33, 0.746));
}

.card {
    width: 35em;
    background: linear-gradient( rgba(5, 250, 5, 0.315), rgba(251, 255, 0, 0.39));
}

section .card-img-top {
    border: 1em inset rgba(19, 204, 28, 0.575);
}

